* {
    box-sizing: border-box;
}

html{
    font-family: inter, san-serif;
    font-size: 17px;
    line-height: 1.5;
    
}
  
body{
    background-color: gray;
    max-width: 1500px;
    min-width: 300px;
    max-height: 1000px;
    min-height: 400px;
    margin-top: 10px;
    padding: 15px;
}
.centr-wrapper{
    padding: 10px;
    max-width: 800px;
    min-width: 320;
    width: 100%;
}


.conteyner{
    background-color:white;
    height: 10vh;
    padding: 20px;
}

.eats{
    margin-right: auto ;
    color: rgb(68, 164, 237);
    text-decoration-line:underline; 
}

.home{
    color: orangered;
}

.info{
    display: flex;
    justify-content: flex-end;
    padding: auto;
    gap: 30px;
}

.bg-eats{
    background-image: url(/assets/css/imeges/51c51a7e2807a7d0fadb9f1c2a8b1ef6.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.size{
    font-size: 2rem;
    font-weight: 500;
}
.menu-restorants{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 60vh;
    text-align: center;
    color: white;

}

.btn{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
}

.delivery{
    border-radius: 10px;
    background-color:orangered ;
    padding: 10px;
    width: 100px;
}

.menu{
    border-radius: 10px;
    border-color: white;
    background-color: inherit;
    color: white;
    padding: 10px;
    width: 100px;
}

.application{
    display: flex;
    justify-content: space-between;
}
.content{
    display: flex;
    justify-content: left;
}