* {
    box-sizing: border-box;
}

html{
    font-size: 17px;
    font-family: inter, san-serif;
    line-height: 1.5;
}
  
body{
    background-color:#FDFDFD;
    max-width: 1500px;
    min-width: 350px;
    max-height: 800px;
    min-height: 400px;
    margin:50px 10px 50;
    padding: 15px;
}
.centr-wrapper{
    padding: 10px;
    max-width: 800px;
    min-width: 320;
    width: 100%;
}


.conteyner{
    background-color:white;
    height: 10vh;
    padding: 20px;
}

.eats{
    margin-right: auto ;
    color: rgb(68, 164, 237);
    text-decoration-line:underline; 
}

.home{
    color: orangered;
}

.info{
    display: flex;
    justify-content: flex-end;
    padding: auto;
    gap: 30px;
    font-size: small;
}

.bg-eats{
    background-image: url(/assets/css/imeges/51c51a7e2807a7d0fadb9f1c2a8b1ef6.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.size{
    font-size: 2rem;
    font-weight: 500;
}
.menu-restorants{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 60vh;
    text-align: center;
    color: white;

}

.btn{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 10px;
}

.delivery{
    border-radius: 10px;
    background-color:orangered ;
    padding: 10px;
    width: 100px;
}

.menu{
    border-radius: 10px;
    border-color: white;
    background-color: inherit;
    color: white;
    padding: 10px;
    width: 100px;
}

.about-works{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: black;
    font-size: 2rem;
}

.application{
    display: flex;
    gap: 50px;
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    padding: 2em;
}
.content,img{
    width: 100%;
    height:500px;
    object-fit: contain;
}
.paragraf{
    color:orangered ;
    font-size: small;
    margin-bottom: 10px;
}
.spesial{
    color: black;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.application2{
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    padding: 2em;
}
.bg-order{
    background-image: url(/assets/css/imeges/62e47d4ba6308cc4a1c5c2d5a9ad2351.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.order{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 60vh;
    text-align: center;
    color: white;
}
.restaurant-card{
    border:3px solid red;
    border-radius: 30px;
    padding: 20px;

}